# .env
WORLDO_DATABASE_URL=
WORLDO_DATABASE_HOST=
WORLDO_DATABASE_PORT=
WORLDO_DATABASE_NAME=
WORLDO_DATABASE_USER=
WORLDO_DATABASE_PASSWORD=
WORLDO_DB_POOL_MIN_SIZE=
WORLDO_DB_POOL_MAX_SIZE=
WORLDO_DB_POOL_MAX_queries=
WORLDO_DB_POOL_TIMEOUT=

WORLDO_REDIS_HOST=
WORLDO_REDIS_PORT=
WORLDO_REDIS_DB=
WORLDO_REDIS_PASSWORD=

WORLDO_JWT_SECRET=
WORLDO_JWT_ALGORITHM=

WORLDO_NEXTJS_URL=
WORLDO_FRONTEND_URL=
# Cloudflare R2
WORLDO_R2_ACCESS_KEY_ID=
WORLDO_R2_SECRET_ACCESS_KEY=
WORLDO_R2_ACCOUNT_ID=
WORLDO_R2_PUBLIC_BUCKET=
WORLDO_R2_PRIVATE_BUCKET=
WORLDO_R2_PUBLIC_URL=

# App Settings
WORLDO_API_PREFIX=
WORLDO_DEBUG=
WORLDO_ENVIRONMENT=
WORLDO_HOST=
WORLDO_PORT=