# .env
WORLDO_DATABASE_URL=postgresql://user:password@address:port/database
WORLDO_DATABASE_HOST=address
WORLDO_DATABASE_PORT=port
WORLDO_DATABASE_NAME=database
WORLDO_DATABASE_USER=user
WORLDO_DATABASE_PASSWORD=password
WORLDO_DB_POOL_MIN_SIZE=1
WORLDO_DB_POOL_MAX_SIZE=10
WORLDO_DB_POOL_MAX_queries=50000
WORLDO_DB_POOL_TIMEOUT=60

WORLDO_REDIS_HOST=address
WORLDO_REDIS_PORT=port
WORLDO_REDIS_DB=0
WORLDO_REDIS_PASSWORD=

WORLDO_JWT_SECRET=
WORLDO_JWT_ALGORITHM=

WORLDO_NEXTJS_URL=http://address:port
WORLDO_FRONTEND_URL=http://address:port
# Cloudflare R2
WORLDO_R2_ACCESS_KEY_ID=
WORLDO_R2_SECRET_ACCESS_KEY=
WORLDO_R2_ACCOUNT_ID=
WORLDO_R2_PUBLIC_BUCKET=bucket-public
WORLDO_R2_PRIVATE_BUCKET=bucket-private
WORLDO_R2_PUBLIC_URL=

# App Settings
WORLDO_API_PREFIX=/prefix/prefix2
WORLDO_DEBUG=true
WORLDO_ENVIRONMENT=development
WORLDO_HOST=0.0.0.0
WORLDO_PORT=8000