# .env
WORLDO_REDIS_HOST=
WORLDO_REDIS_PORT=
WORLDO_REDIS_DB=
WORLDO_REDIS_PASSWORD=

WORLDO_JWT_SECRET=
WORLDO_JWT_ALGORITHM=HS256

WORLDO_NEXTJS_URL=
WORLDO_FRONTEND_URL=

WORLDO_DEBUG=true
WORLDO_ENVIRONMENT=development